@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #155dfc;
  --dark-blue-color: #274760;
  --blur-color: #447dfd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-color: var(--primary-color);
  --color-blur-color: var(--blur-color);
  --color-dark-blue-color: var(--dark-blue-color);
  --font-urbanist: var(--font-urbanist);
  --font-figtree: var(--font-figtree);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
